.registration {
	text-align: right;
}

.hero-text a {
	color: black;
}

.hero-text a:hover {
	text-decoration: none;
	color: #777;
}

footer {
	width: 100%;
	text-align: center;
	position: relative;
	bottom: 0;
}

.removeConfirmButton
{
	display: none;
}

.table tr {
	height: 32px;
}

.table tr td {
	line-height: 32px;
}
